WebContent/wsdl/AvailabilityWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws.hua.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ws.hua.com" xmlns:intf="http://ws.hua.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ws.hua.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="searchbyBC">
    <complexType>
     <sequence>
      <element name="barcode" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchbyBCResponse">
    <complexType>
     <sequence>
      <element name="searchbyBCReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getPurchase">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getPurchaseResponse">
    <complexType/>
   </element>
   <element name="countAvailability">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="countAvailabilityResponse">
    <complexType>
     <sequence>
      <element name="countAvailabilityReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="searchbyBCResponse">

      <wsdl:part element="impl:searchbyBCResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="countAvailabilityResponse">

      <wsdl:part element="impl:countAvailabilityResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getPurchaseResponse">

      <wsdl:part element="impl:getPurchaseResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="searchbyBCRequest">

      <wsdl:part element="impl:searchbyBC" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getPurchaseRequest">

      <wsdl:part element="impl:getPurchase" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="countAvailabilityRequest">

      <wsdl:part element="impl:countAvailability" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="AvailabilityWS">

      <wsdl:operation name="searchbyBC">

         <wsdl:input message="impl:searchbyBCRequest" name="searchbyBCRequest">

       </wsdl:input>

         <wsdl:output message="impl:searchbyBCResponse" name="searchbyBCResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getPurchase">

         <wsdl:input message="impl:getPurchaseRequest" name="getPurchaseRequest">

       </wsdl:input>

         <wsdl:output message="impl:getPurchaseResponse" name="getPurchaseResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="countAvailability">

         <wsdl:input message="impl:countAvailabilityRequest" name="countAvailabilityRequest">

       </wsdl:input>

         <wsdl:output message="impl:countAvailabilityResponse" name="countAvailabilityResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AvailabilityWSSoapBinding" type="impl:AvailabilityWS">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="searchbyBC">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchbyBCRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="searchbyBCResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getPurchase">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getPurchaseRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getPurchaseResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="countAvailability">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="countAvailabilityRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="countAvailabilityResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AvailabilityWSService">

      <wsdl:port binding="impl:AvailabilityWSSoapBinding" name="AvailabilityWS">

         <wsdlsoap:address location="http://localhost:8080/SOAP_WS/services/AvailabilityWS"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
